.contenedor div{
    margin-right: 4%;
  }

.contenedor img {
    float: left;
    width: 240px;
    height: 340px;
    /* position: relative;
    right: 50%;
    left: 0%; */
  }
  

  .contenedor h3 {
    margin: 3%;
    float: left;
    display: inline;
  }

