.top{
    background-color: rgb(167, 158, 147);
    height: 600px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    margin-top: 35px;
}

.top h1, h4{
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

h1 span{
    font-weight: bold;
}

.hijo{
    display: flex;
    justify-content: center;  
}

.top .hijo div{
    display: inline-block;
    /* background-color: rgb(249, 249, 249); */
    height: 100px;
    width: 390px;
    margin: 5px 25px 20px 0;
    position: relative;
    border-bottom: 2px solid rgb(40, 29, 29);  
    border-right: 2px solid black;
    
}



.hijo div .img{
    background-color: rgb(230, 236, 236);
    height: 100%;
    width: 95px;
    margin: 0px;
    overflow: hidden;
}

.hijo div .img img{
    margin: 0;
    width: 100%;
    height: 100%;
}


.hijo div h2{
    display: inline-block;
    position: absolute;
    left: 100px;
    top: -15px;
}

.hijo div .texto{
    text-align: left;
    width: 235px;
    height: 90%;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    left: 35%;
}

.nombre{
    font-size: 30px;
    margin: 0 0 0 0;
}

.TopTitulo{
    font-size: 40px;
}
