*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    background-image: url(/ProyectoWebUtn2023/Login/ImagenesLogin/Imagen2.jfif);
    background-size: cover;
    position: absolute;
    background-size: 50%;
} 

.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background-color: azure;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e4dfdf;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}

#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgba(5, 5, 5, 0.7), rgba(132, 126, 126, 0.7));
    border-radius: 30px;
    transition: 0.8s;
}

.redes-sociales{
    margin: 35px;
    text-align: center;

}

.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
    }

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #231e50;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(5, 5, 5, 0.7), rgba(132, 126, 126, 0.7));
    border: 0px;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #231e50;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}
#login{
    left: 50px;

}

#registrar{
    left: 450px;
}









